p {
  font-size: 20px;
  color: black;
  font-family: Arial;
}


body {font-family: Arial;}

body {
  background-image: url("https://66.media.tumblr.com/8679eb1b5ea4c61aca69e1597da52975/tumblr_oil1u04L9E1vr35z7o2_500.jpg");
}
